.buddy{
    display: flex;
    flex-direction: column;
    text-align: center;
    position:relative; 
}


.buddy__2 {
    margin: 2rem auto;
    position: relative;
    
}

.codebuddy__sl {
    margin-top: -2rem;
    
}

.plus{
    max-width: 1rem;
    position: absolute;
    top: 76px;
    align-self:center;

}

.plus__2 {
    position: absolute;
    left: 11rem;
    top: 4.7rem;
    
}

.buddy__name{
    text-align: center;
}
