.buddy{
    display: flex;
    flex-direction: column;
    text-align: center;
    position:relative;
    
}
.plus{
    max-width: 1rem;
    position: absolute;;
    top: 76px;
    align-self:center;

}