.buddy{
    display: flex;
    flex-direction: column;
    text-align: center;
    position:relative; 
    margin-bottom: 2rem;
}


.buddy__2 {
    margin: 2rem auto;
    position: relative;
    
}

.codebuddy__sl {
    margin-top: -2rem;
    
}

.plus{
    position: absolute;
    top: 76px;
    align-self:center;

}

.plus__2 {
    position: absolute;
    left: 11rem;
    top: 4.7rem;
    
}

.buddy__name{
    text-align: center;
}

.buddy__name:nth-child(2n):before{
content:"";
background-image: url('../../images/Plus.svg');
width: 3rem;
height: 3rem;
display: block;
background-repeat: no-repeat;
position: absolute;
top: 4.65rem;
left: 47vw;
}

.buddyend{
    margin-bottom: 9rem;
}