.journal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8,auto);
    text-align: left;
    margin: 0 2rem;

}

.journal__stars {
    display: flex;
    align-self: start;
    
}

.journal__stars img{
    margin-right: 1rem;
    margin-bottom:1rem;
}

.journal__box {
    display: flex;
}

.journal__box img{ 
    margin-right: 0.3rem;
    margin-bottom: 1rem;
}


.journal__yesterday{
    color: var(--primaryblue);
    font-weight:600;
    font-size: 14;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.143;
    text-align: left;
    margin-bottom: 0.7rem;
}

.journal__motto{
    text-align: left;
}

.journal__notes{
    margin-left: 0;
    margin-right: 2rem;
}