.journal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8,auto);
    text-align: left;
    margin: 0 4rem;

}

.journal__stars {
    display: flex;
    align-self: start;
    
}

.journal__stars img{
    margin-right: 2rem;
}

.journal__box {
    display: flex;
}

.journal__box img{
    margin-right: 0.5rem;
}

.input{
    padding-bottom: 3rem;
}


.journalbtns{
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    margin: 2rem;

}


.savebtn{
    background-color: var(--primaryorange);
    color: white;
    padding: .5rem;
    border-radius: 5px;
    border: none;
}

.cancelbtn{
    border-radius: 5px;
    border: none;
    background-color: white;
    color: var(--primaryblue);
}


