

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5%;;
}
#q-graph {
  display: block; /* fixes layout wonkiness in FF1.5 */
  position: relative;
  width: 16.25rem;
  height: 12.62rem;
  margin: 0.1em 0 0;
  padding: 0;
}
#q-graph caption {
  caption-side: top;
  width: 18.75rem;
   font-family: "Open Sans", sans-serif;
  font-weight: semibold 600;
 font-size: 14;
  letter-spacing: 0.5px;
  right: 4px;
  position: relative;
}
#q-graph tr, #q-graph th, #q-graph td {
  position: absolute;
  bottom: 0;
  width: 3.43rem;
  z-index: 2;
  margin: 0;
  padding: 0;
}
#q-graph tbody tr {
  top: 13.3rem;
  height: 6.625rem;
  padding-top: 1px;
  border-right: none;
}
#q-graph #q1 {
  left: 2rem;
}
#q-graph #q2 {left: 6rem;}
#q-graph #q3 {left: 10rem;}
#q-graph #q4 {left: 14rem;}
#q-graph #q5 {left: 18rem;}
#q-graph tbody th {
  top:7.5rem;
  left:0.5rem;
  vertical-align: top;
 color: #7589A2;
font-weight: regular (400);
  font-size: 12;
font-family: "Open Sans", sans-serif;}
#q-graph .bar {
  border: 1px solid;
}
#q-graph .you {
  left: 0.95rem;
  background-color: #FF5A36;
  border-color: transparent;
  border-top-left-radius: 15px;
  border-top-right-radius:15px;
}
#q-graph .other {
  left: 1.9rem;
  background-color: #193251;
  border-color: transparent;
   border-top-left-radius: 15px;
  border-top-right-radius:15px;
}
#q-graph #q1 .you {
  height: 16rem;
  width: 1rem;
}
#q-graph #q2 .you {
  height: 11.75rem;
  width: 1rem;
}
#q-graph #q3 .you {
height: 14.19rem;
width: 1rem;
}
#q-graph #q4 .you {
  height: 6.25rem;
  width: 1rem;
}
#q-graph #q5 .you {
  height: 4.375rem;
  width: 1rem;
}
#q-graph #q1 .other {
  height: 13.75rem;
  width: 1rem;
}
#q-graph #q2 .other {
  height: 13.31rem;
  width: 1rem;
}
#q-graph #q3 .other {
  height: 9.75rem;
  width: 1rem;
}
#q-graph #q4 .other {
  height: 8.6rem;
  width: 1rem;
}
#q-graph #q5 .other {
  height: 3.125rem;
  width: 1rem;
}
#ticks {
  position: relative;
   top: -7.5rem;
  left: 10%;
  width: 11.25rem;
  height: 18.75rem;
  z-index: 1;
  margin-bottom: -6.25rem;
  font-family: "Open Sans" sans-serif;
  font-size: 12;
  font-weight: regular 400;
  color: #7589A2;
}
#ticks .tick {
  position: relative;
  border-top: 1px solid #C4C4C4;
  width: 19.1rem;
  height:3.7rem;
}
#ticks .tick p {
  position: absolute;
  left: -2.5em;
  top: -0.8em;
  margin: 0 0 0 0.5em;
}
.table__paragraph1 {
  position:absolute;
  left:45%;
  bottom:18rem;
  text-align: end;
  background-color:var(--primaryblue);
  padding: 0.2rem 0.5rem;
  color: white;
  border-radius: 5px;
}
.table__paragraph2 {
  position:absolute;
  left:75%;
  bottom:18rem;
  text-align: end;
  background-color:var(--orange3);
  padding: 0.2rem 0.5rem;
  color: #FF5A36;
  border-radius: 5px;
  margin-left: 1.5rem;
}
.buttons {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-gap: 1rem;
  justify-items: stretch;
  margin: 3.5rem 2.5rem;
}
.button__paragraph{
  justify-self: start;
}
.button {
  border: none;
  color: white;
  padding: 1.2rem 2rem;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 8px;
  line-height: 1.5;
  letter-spacing: 0.7px;
}
.primaryorange {
background-color: var(--primaryorange);
}
.orange1 {
background-color: var(--orange1);
}
.orange2 {
background-color: var(--orange2);
}
.orange3 {
background-color: var(--orange3);
}