:root{
    --primaryblue:rgb(25, 50, 81);
    --blue1:#7589A2;
    --blue2:#E0E4E8;
    --blue3:#F8F8F8;
    --primaryorange:rgb(255, 90, 54);
    --orange1: #FF9C86;
    --orange2:#FFBDAF;
    --orange3: #FFDED7;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
body, 
h1, 
h2,
h3,
p {
    margin: 0;
  }

  ul,
  ol {
  list-style: none;
  padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
  }


h1{
    color: var(--primaryblue);
    font-weight: bold (700);
    font-size: 16;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.125;
    padding: 2rem 0;
}

h2{
    color: var(--primaryblue);
    font-weight:600;
    font-size: 16;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.0;
    text-align: left;
    border: none;
    margin: 3rem 0 2rem 4rem;
}

h3 {
    color: var(--blue1);
    font-weight:600;
    font-size: 16;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.0; 
}

h4{
    color: var(--primaryblue);
    font-weight:600;
    font-size: 14;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.286;
}

h5{
    color: var(--primaryblue);
    font-weight:600;
    font-size: 14;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.143;
}

h6{
    color: var(--blue1);
    font-weight:400;
    font-size: 12;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.333;
}

header{
    background-image: url("/images/background_shape_1.svg");
    background-size:cover;
}

.icons{
   
    min-width: 3rem;
}

    


body{
    text-align: center;
}

main {
    margin-bottom: 12rem;
}

footer{
    background-color: white;
}