.bl-dark{
    border: solid 1px var(--blue1);
   
}


.bl-light{
    border: solid 1px var(--blue2);
    padding: 2rem;
    margin: 0 4rem;

}

.or-shadow{
    box-shadow: 0 4px 10px rgba(255, 90, 54, 0.4);
    fill: #ffffff;
}

.bl-shadow{
    box-shadow: 0 2px 11px rgba(25, 50, 81, 0.2);
    mix-blend-mode: darken;
    padding: 2rem;
    
     
}

.radius__bottom{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.radius__top{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}